{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>중고거래 상세보기</title>
  </head>

  <body>
    {% include 'dangun_app/nav.html' %}
    <div class="content-box">
      <div class="container column">
        <div class="post-box">
          {% block content %}
          {% if post.status == 'N' %}
          <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="block-box">
          {% else %}
          <div class="image_tag">
            <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="block-box" style="filter:brightness(20%);" >
            <h1 class="image_tag_text" style="font-size:50px">판매 완료</h1>
          </div>
          {% endif %}
            <div class="flex-box between info-button-box">
              <div class="user-info">
                <h6>{{ post.author.nickname }}</h6>
                <p>{{ user.location }}</p>
              </div>
              {% if post.author.id == user.id %}
                <div class="flex-box button-box">
                  <a href="{% url 'dangun_app:edit' post.id %}">
                    <button class="grey">수정하기</button>
                  </a>
                  <!-- 해당 상품에 대해 가장 최근 생성된 채팅방으로 이동하거나, 
                    채팅방이 없을 경우 채팅 리스트화면을 보여줍니다. -->
                  {% if recent_chatroom %}
                    {% url 'dangun_app:selected_chatroom' recent_chatroom.id as chat_url %}
                  {% else %}
                    {% url 'dangun_app:chatroom' as chat_url %}
                  {% endif %}
                  <a href="{{ chat_url }}">
                      <button class="orange">채팅보기</button>
                  </a>
                </div>
              {% else %}
                <form action={% url "dangun_app:create_chatroom" post.id %} method="POST">
                    {% csrf_token %}
                    <div class="button-box">
                        <button class="orange">채팅하기</button>
                    </div>
                </form>
              {% endif %}
            </div>
            <hr class="line">
            <div class="post-info-box">
              <div class="flex-box between">
                <h3>{{ post.title }}</h3>
                <h3>{{ post.price |intcomma}}
                  원</h3>
              </div>
              <p>{{ post.description }}</p>
              <div class="location-views-box flex-box between">
                <p>희망 거래장소 |
                  {{ post.location }}</p>
                <p>조회수
                  {{ post.view }}  ♡  {{ post.like }}</p> 
              </div>
            </div>
            <hr class="line">
            <div class="comments">
              <h3>Comments</h3>

              <ul>
                {% for comment in comments %}
                  <li>
                    <p class="author">{{ comment.author }}:</p>
                    <p class="text">{{ comment.text }}</p>
                  </li>
                {% empty %}
                  <li>댓글이 없습니다.</li>
                {% endfor %}
              </ul>
            </div>
            {% if user.is_authenticated %}

            <form method="post" action="{% url 'dangun_app:add_comment' post_id=post.id %}">
              {% csrf_token %}
              {{ form.as_p }}
              <button class='comment-button' type="submit">댓글 작성</button>
            </form>
            {% else %}
            <p>댓글을 작성하려면 로그인이 필요합니다.</p>
           {% endif %} 
          {% endblock %}
        </div>
      </div>
    </div>
    {% include 'dangun_app/footer.html' %}

  </body>

</html>
