{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/userset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>동네인증</title>
  </head>

  <body class="back-ye">
    {% include 'dangun_app/nav.html' %}
    <div class="content-box">
      <div class="container column center">
        <div class="user-setting-box full-box">
          <label for="user-setting">Nickname 설정</label>
          <form method="POST" action="/user-set/" id="nickname-form">
            {% csrf_token %}
            <div class="flex-box full-box between region-input">
              <input type="text" id="nickname-setting" class="region-setting" name="nickname-setting"
              placeholder="현재 Nickname : {{user.nickname}}" value="{{ nickname }}"required>
              <button type="submit" class="ghost-button orange region-setting" style="width:15%" id="set-nickname-button">
                수정</button>
            </div>
          </form>
        </div>
        
        <div class="user-setting-box full-box">
          <label for="user-setting">E-Mail 설정</label>
          <form method="POST" action="/user-set/" id="email-form">
            {% csrf_token %}
            <div class="flex-box full-box between region-input">
              <input type="text" id="email-settings" class="region-setting" name="email-setting" 
              placeholder="현재 E-Mail : {{user.email}}" value="{{ email }}"required>
              <button type="submit" class="ghost-button orange region-setting" style='width:15%' id="set-email-button">
                수정</button> 
           </div> 
          </form> 
        </div>
        <div class="user-posting-box">
          <label for="user-setting">내 게시물</label>
          {% for post in user_posts %}
          <div class="post">
            <a href="{% url 'dangun_app:trade_post' post.pk %}" class="trade-text-link">
              <div class="card-img">
                {% if post.thumbnail %}
                  <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
                {% endif %}
              </div>
              <h5>{{ post.title }}</h5>
              <p class="bold">{{ post.price }}원</p>
              <p>{{ post.location|slice:":12" }}</p>
            </div>
            </a>
            {% empty %}
            <p>게시글이 없어용^-^</p>
          {% endfor %}
        </div>     
      </div>
    </div>
    {% include 'dangun_app/footer.html' %}
  </body>

</html>